@import "tailwindcss";
@utility container{
  margin-inline: auto;
  padding-left: 10px;
  padding-right: 10px;
}


:root {
  --background: hsl(0, 0%, 100%);
  --foreground: #171717;
  --primary-color: #8b4513;
  --dark-gray: #3e3e3e;
  --light-gray: #757575;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-color);
  --color-dark-gray: var(--dark-gray); 
  --color-light-gray: var(--light-gray);
  --font-prime: var(--font-playfair);
  --font-second: var(--font-lato);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
